* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: darkslategray;
	padding: 3rem 10rem;
}
section {
	background-color: #fff;
	padding: 0.2rem 0.2rem;
	position: relative;
}
div {
	width: 100px;
	height: 100px;
	position: relative;
	left: 0.2rem;
	transition: left 3s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	gap: 1rem;
}
.box0 {
	background-color: hotpink;
	transition-timing-function: linear;
}
.box {
	background-color: yellow;
	color: #000;
	transition-timing-function: ease;
}
.box1 {
	background-color: red;
	/*     top: 106px; */
	transition-timing-function: ease-out;
}
.box2 {
	background-color: green;
	/* 	top: 210px; */
	transition-timing-function: ease-in;
}
.box3 {
	background-color: blue;
	/* top: 316px; */
	transition-timing-function: ease-in-out;
}

section:hover .box0,
section:hover .box,
section:hover .box1,
section:hover .box2,/*  */
section:hover .box3 {
	left: 89%;
}
/* section:hover .box1 {
	left: 89%;
}
section:hover .box2 {
	left: 89%;
}
section:hover .box3 {
	left: 89%;
} */
